footer {
    padding: 20px 0;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  li {
    display: inline-block;
    margin-right: 10px;
  }
  
  a {
    color: #333;
    font-size: 20px;
    text-decoration: none;
  }
  
  a:hover {
   color: firebrick;
   transition: 0.3s ease-in-out;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    font-size: 23px;
  }
  
  .social-icons a:hover {
    color: firebrick;
  }